{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form %}
{% block title %} Add a Cafe {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
      {{ form.csrf_token }}
      {{ render_form(form, action="#", method="POST", novalidate=True) }}
      <!-- This is where your WTForm will go -->

	  <p class="space-above"><a href="{{ url_for('cafe') }}">See all cafes</a></p>

    </div>
  </div>                                 
</div>
{% endblock %}