{% extends "base.html" %}
{% block title %} Coffe | Wife {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark">
	    <thead>
		<tr>
		    <td scope="col"> Cafe Name</td>
		    <td scope="col"> Location </td>
		    <td scope="col"> Open  </td>
		    <td scope="col"> Close </td>
		    <td scope="col"> Coffee </td>

		    <td scope="col"> Wifi </td>
		    <td scope="col"> Power </td>
		</tr>
	    </thead>
	    {% for cafe in cafes %}
	    <tbody>
		<tr>
		    <td scope="col">
			{{ cafe.CafeName }}
		    </td>
		    <td scope="col">
			<a href="{{ cafe.Location }}">Map Link</a>
		    </td>
		    <td scope="col">
			{{ cafe.Open }}
		    </td>
		    <td scope="col">
			{{ cafe.Close }}
		    </td>
		    <td scope="col">
			{{ cafe.CoffeeRate }}
		    </td>
		    <td scope="col">
			{{ cafe.WifiRate }}
		    </td>
		    <td scope="col">
			{{ cafe.PowerRate }}
		    </td>
		</tr>
	    </tbody>
	    {% endfor %}
  	  </table>

	  <p><a href="{{ url_for('index') }}">Return to index page</a></p>

    </div>
  </div>
</div>
{% endblock %}
